{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="{% static 'css/styles.css'%}?after">
	<style>
		input, select {
			width: 100%;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
    }
	</style>
	<title>{% block page_title %}{% endblock page_title %} | Nomad Media</title>
</head>

<body class=" bg-lightblack">
	{% include 'partials/header.html' %} 

		
	<div class="randombg h-75vh">
	</div>
	<div class="container mx-auto">
		{% block content %} {% endblock content %}
	</div>
	{% include 'partials/footer.html' %}

	<script>
		// Random Background setting 
		const randomBg = document.querySelector(".randombg")
		RANDOM_IMAGE = 5

		function randomNum(){
			const randN = Math.ceil(Math.random()*RANDOM_IMAGE)
			console.log(randN)
			return randN
		}

		function paintBg(imageNum){
			randomBg.style.backgroundImage = `url(/media/backgrounds/${imageNum}.jpg)`
			randomBg.style.backgroundSize = "100% 100%"
		}

		function init(){
			paintBg(randomNum())
		}

		init()

		// make Navbar transparent when it is on the top 
		const navbar = document.querySelector("#navbar")
		const bgHeight = randomBg.getBoundingClientRect().height;
		document.addEventListener("scroll",()=>{
			if(window.scrollY > bgHeight-100){
				navbar.classList.add("navbar_v2")
				navbar.classList.remove("navbar_v1")
			}else{
				navbar.classList.remove("navbar_v2")
				navbar.classList.add("navbar_v1")
			}
		})
		
		// add showlists
		const showBtn = document.querySelector(".showBtn")
		const castLists = document.querySelector(".cast_lists")

		showBtn.addEventListener("click",(e)=>{
			e.preventDefault()
			castLists.classList.toggle("noshow")
		})
			
	</script>
</body>

</html>